@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
*{
    box-sizing: border-box;
    background-color: #F5F5F5;
    font-family: 'Arial', 'Helvetica', 'sans-serif';
    margin: 0;
    padding: 0;
}
.container{
    
    padding: 10px;
   max-width: 90%;
   margin: auto;
    height: 100vh;

}
.celarf{
    content: "";
    /* Creates an empty content */
    display: table;
    /* Makes the element behave like a table */
    clear: both;
    /* Clears all floated elements */
}
.navbar{
    width: 100%;
    overflow: hidden;
    padding: 10px 0;
    font-weight: 600;
}
.navbarel{
    padding: 0;
    list-style: none;
    margin: 0;
    float: right;
    
}
.logo{
    padding-left: 80px;
    float: left;
    height: 50px;
    line-height: 50px;
}
.logo-text{
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    color: black;
}
a{  
    color: gray;
    text-decoration: none;}
.navbarel li{
    
   display: inline-block;
    color: gray;
    line-height: 50px;
    width: 150px;
}
a:hover{
    color: rgb(248, 118, 10);
}
.contant-home{
    width: 100%;
    position: relative;
    top:200px;
}
.text{

    font-size: larger;
    padding-left: 20px;
    width: 55%;
    display: inline-block;
    position: relative;
    bottom:40px;
}
.text h1{
    font-size:4vw;
}
.dish-im{
    position: relative;
    right: 8%;
    float: right; 
    width: 37%;
    padding-right:3% ;
}
.dish-img{
    width: 95%;
}
.button{
    width: 150px;
    height: 50px;
    margin-right: 20px ;
    color: white;
    border: 0;
}
.button:hover{
    scale: 105%;
    transition: 200ms;
}
.buttondiv{
    padding-left: 30px;
}
.main-serviec{
    margin: auto;
    padding: auto;
    margin-top: 600px;
    text-align: center;
    width: 90%;
}
.texts{
    font-weight:900;
    font-size: x-large;
    margin-bottom: 15px;
}
.serv-img{
    margin-top: 50px;
    width: 50px;
    height: 50px;
    color: black;
    margin-bottom: 20px;   
}
h4{
    color: rgb(248, 118, 10);
    margin-bottom: 10px;
}
.serviec-contant{
 display: inline-block;
border: 1px solid gainsboro;
width: 25%;
height: 400px;
margin: 60px 10px 50px;
padding: 30px 15px;
line-height: 22px
}

.serviec-contant:hover{
    scale: 104%;
    border-top: 10px solid rgb(248, 118, 10);
    
}
.buttonser{
        
        display: inline-block;
        width: 150px;
        height: 40px; 
        color: white;
        border: 0;
        font-weight: 800;
}
.buttonser:hover{
    scale: 103%;
    color:  rgb(248, 118, 10);
}
.fruits{
    margin: auto;
    padding: auto;
    margin-top: 100px;
    text-align: center;
    width: 70%;

}
.fruits-title{
    margin-bottom: 60px;
}
.fruits-div{
    height: 230px;

}
.fruits-p{
    display: inline-block;
    position: relative;
    bottom:100px;
    text-align: left;
    width:1070px;

    font-size: medium;
}
.fruits-img{
    display: inline-block;
     width: 90px;
     height: 160px;
    margin-bottom: 15px;
}
.fruits-h{
    display:inline-block;
    position: relative;
    right: 450px;
    font-size: xx-large;
    margin-top: 30px;
    font-weight: 200;
    
}
.fruits-bt{
    float: left;
    background-color: black;
    width: 150px;
    height: 40px; 
    margin-left: 10px;
    color: white;
    border: 0;
    font-size: large;
    position: relative;
    bottom:50px;
}
.fruits-bt:hover{
    scale: 101%;
    color:  rgb(248, 118, 10);
}